body {
}

.inputbox 
    { background:rgb(130, 224, 255); padding: 3px; position: fixed; bottom: 26px; width: 100%; }


.textbox {
    border: 0; padding: 10px; width: 80%; margin-right: .5%
}

.button{ 
    width: 9%;  border: none; padding: 10px
}

.li:nth-child(odd) {
    color:blue
}

.ul:nth-child(odd) {
    color:blue
}

.copyright {
    color:black;
    font-family:'Times New Roman';
    font-size:12px;
    font-weight:bold;
    position:fixed;
    bottom:2px;
}